name: Inventory Service

on:
  push:
    paths:
      - "inventory-service/"
    branches: [ "main" ]
  pull_request:
    paths:
      - "inventory-service/"
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: Test
        run: go test -v ./...